@import 'core/settings';

body {
	margin: 0;
	background-color: #1f174a;
	color: #f14132;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
}
.page__main{
	position: absolute;
    transform: translateX(-50%);
}

.page__main-title{
	text-transform: uppercase;
	font-size: 30px;

}
.page__main-counter{
	font-size: 60px;
	position: absolute;
	left: 400px;
	top: 46%;

}
.page__main-content{

}
.page__main-instruction{
	font-size: 20px;
	padding-bottom: 25px;

}
.page__main-insert{
	height: 34px;
	width: 120px;
	border-radius: 16px;
	border: solid 1px white;
	font-size: 16px;
	text-align: center;
	color: #f14132;
	background-color: transparent;
	

}
.btn{
	cursor: pointer;
	height: 40px;
	width: 120px;
	background-color: transparent;
	border: solid 1px #f14132;
	border-radius: 16px;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin-left: 15px;
	&:hover{
		background-color: #f14132;
	}
}
.page__main-clue{
	padding: 20px;
	font-size: 18px;

}