<main class="page__main">
    <section class="page__main-header">
        <h1 class="page__main-title">Adivina el número</h1>
        <p class="page__main-counter"></p>
    </section>
    <section class="page__main-content">
        <p class="page__main-instruction">Introduce aquí tu número</p>
        <input class="page__main-insert" type="text" name="guess" placeholder="">
        <button class="btn" type="submit">Prueba</button>
    </section>
    <p class="page__main-clue">Escribe un número y dale a Prueba</p>
</main>
